.item {
    display:inline-block;
}
#house {
    width: 40%;
    float:left;
    margin-top:100px;
}
#bouglar {
    width: 40%;
    float:right;
    margin-top:100px;
}
#house_h{

    margin-left: 100px;
}
#sack_h{

    margin-left: 60%;
}
.header{
    position:absolute;
    font-size: 3em;
}
#sack_data_h{
    margin-top:50px;
    margin-left: 60%
}
.message{
    position:absolute;
    margin-left: 33%;
    color:#2366f7;
    font-size:4em;
    margin-top: 330px;
    display:none;

}
.item_txt{
    text-align:center;
    font-size:2em;
    font-weight:bold;
}